<%- include("partials/header") -%>

<h1> <%= title %> </h1>

<p> <%= content %> </p> 
<form action="/posts/delete" method="POST">
    <input style="display: none" class="form-control" type="text" name="title" autocomplete="off" value="<%= title %>" readonly></input>
    <button class="btn btn-danger" type="submit" name="delete">Delete</button>
</form>
<%- include("partials/footer") -%>